* {
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    width: 400px;
}