* {
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper ul {
    align-self: flex-start;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

li {
    padding-top: 1rem;
}