* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
}

.wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper ul {
    align-self: flex-start;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

li {
    padding-top: 1rem;
}